# Lista, Tuplas, Dicionários e Conjuntos

### (1) Listas

In [20]:
[1,2,3]

[1, 2, 3]

In [21]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [6]:
minha_lista = ['a','b','c']

In [7]:
minha_lista.append('d')

In [8]:
minha_lista

['a', 'b', 'c', 'd']

In [9]:
minha_lista[0]

'a'

In [10]:
minha_lista[1]

'b'

In [11]:
minha_lista[1:]

['b', 'c', 'd']

In [23]:
minha_lista[:1]

['a']

In [18]:
minha_lista[-1]

'd'

In [19]:
minha_lista[-2]

'c'

In [15]:
minha_lista

['a', 'b', 'c', 'd']

In [28]:
minha_lista[0] = 'NOVO'

In [29]:
minha_lista

['NOVO', 'b', 'c', 'd']

In [8]:
nest = [1,2,3,[4,5,['target']]]

In [9]:
nest[3]

[4, 5, ['target']]

In [10]:
nest[3][2]

['target']

In [11]:
nest[3][2][0]

'target'

In [12]:
for i in nest:
    print(i)

1
2
3
[4, 5, ['target']]

In [14]:
for i in nest[3]:
    print(i)

4
5
['target']

### Tuplas

In [34]:
t = (1,2,3)

In [39]:
t

(1, 2, 3)

In [38]:
t[3] = 4

TypeError: 'tuple' object does not support item assignment

### Dicionários

In [25]:
d = {'chave1':'item1','chave2':'item2'}

In [26]:
d

{'chave1': 'item1', 'chave2': 'item2'}

In [27]:
d['chave1']

'item1'

In [28]:
d.update({'idade': 40, 'Nome': 'Joao'})

In [29]:
d

{'chave1': 'item1', 'chave2': 'item2', 'idade': 40, 'Nome': 'Joao'}

In [30]:
d['Cidade'] = "Londrina"

In [31]:
d

{'chave1': 'item1',
 'chave2': 'item2',
 'idade': 40,
 'Nome': 'Joao',
 'Cidade': 'Londrina'}

In [32]:
d.pop('chave1')

'item1'

In [33]:
d

{'chave2': 'item2', 'idade': 40, 'Nome': 'Joao', 'Cidade': 'Londrina'}

### Sets

In [43]:
{1,2,3}

{1, 2, 3}

In [44]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [1]:
S = [0, 1, 1, 2]
A = set(S)
print(A)
B = set()
B.add(1)
B.add(1)
B.add(5)
print(B)

{0, 1, 2}
{1, 5}

In [2]:
C = A.intersection(B)
print(C)

{1}

In [6]:
D = A.union(B)
print(D)

{0, 1, 2, 5}