## Estudo de Caso base de dados Netflix
- https://www.kaggle.com/shivamb/netflix-shows?select=netflix_titles.csv

### 1) Importando pandas

In [ ]:
import pandas as pd

### 2) Leitura dos dados

In [ ]:
df = pd.read_csv('netflix_titles.csv')

#### Para imprimir todas as linhas da base de dados:
- pd.set_option('display.max_rows', None)

In [ ]:
pd.set_option('display.max_rows', None)
df = pd.read_csv('netflix_titles.csv')

#### Descrição das colunas:

- show_id: unique ID for each movie
- type: 'Movie' or 'TV Show' - in this case we're only using the movies
- title: official movie title
- director: name of director
- cast: list of actors' names in movie
- country: country where the movie was produced
- date_added: date that the movie was added to Netflix
- release_year: year that the movie was originally released
- rating: age rating of movie
- duration: duration of the movie in minutes
- listed_in: relevant genres of the movie
- description: short description of the movie plot

In [ ]:
df.info()

### 3) Aplicando filtros nos dados
- Selecionar o tipo "Movie"

In [ ]:
nf_movies = df[df['type'] == 'Movie']
nf_movies.head()

In [ ]:
df[df['country'] == 'Brazil']['type']

In [ ]:
df[(df['country'] == 'Brazil') & (df['type'] == 'Movie')]

#### Informações sobre valores exclusivos (Método unique())

In [ ]:
df['director'].unique()

#### Quantidade de valores exclusivos

In [ ]:
#Classifica pelos 10 primeiros
df['country'].value_counts().head(10)

In [ ]:
df['release_year'].value_counts().head(30)

#### Seleção de linhas e colunas (mpetodos loc() e iloc()

In [ ]:
df.columns

In [ ]:
len(df.columns)

In [ ]:
df.iloc[[0,1],[0,1]]

#### Ordenando um DataFrame por coluna (sort_values)

In [ ]:
df.sort_values(by='country')

#### Encontrando valores nulos (NaN)

In [ ]:
df['country'].isnull().value_counts()''

#### Selcionando registros diferente de NaN, coluna 'country'.

In [ ]:
saida = df[(df['country'].isnull()) == False]

In [ ]:
type(saida)

In [ ]:
len(saida)

### 4) Operação Groupby 

O método groupby permite agrupar linhas de dados em conjunto e chamar funções agregadas

In [ ]:
nfCountries = df.groupby('country')

In [ ]:
for name in nfCountries:
    print(name)

In [ ]:
df.columns

In [ ]:
group = df.groupby(['type','country'])

In [ ]:
group.size()

In [ ]:
serie.to_string()

In [ ]:
for t, c in group:
    list.append(t)
    list.append(c)

In [ ]:
len(list)

In [ ]:
type(list[0])